@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
	font-family: 'Outfit', sans-serif;
	user-select: none;
}


.font-lin {
	background: linear-gradient(180deg, #D7DF4D 0%, #E179CB 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.btn-gradient {
	border-width: 4px;
	border-style: solid;
	border-radius: 100%;
	border-image: linear-gradient(to right, darkblue, darkorchid) 1;
  }